.auth-container {
  width: 350px;
  margin: 200px auto;
  text-align: center;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
}

.auth-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.auth-tabs button {
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  width: 50%;
  transition: 0.3s;
}

.auth-tabs button.active {
  background: #333;
  color: white;
}

.auth-tabs button.inactive {
  background: #eee;
  color: black;
}

.auth-input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.auth-select {
  width: 95%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 8px 0;
}

.auth-submit {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  background: #766bd7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.auth-submit:hover {
  background: #0035f7;
}
