.student-container {
  max-width: 850px;
  margin: 30px auto;
}

.tabs button {
  padding: 10px 15px;
  border: none;
  background: #ddd;
  margin-right: 10px;
  cursor: pointer;
}

.tabs button.active {
  background: #333;
  color: #fff;
}

.course-box-wrapper {
  margin-top: 15px;
}

.course-box {
  background: #f5f5f5;
  padding: 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.course-structure {
  padding: 10px 20px;
  background: #fff;
  border-left: 3px solid #333;
}

.level {
  margin-top: 8px;
}

.course-row {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

select {
  margin-left: 10px;
}
